**/*.pyc
data*
output*.*
debug.log

/*.bat
/*.zip
/_dist
/obsolete
/output
/migrations
/.env*

.vscode
.git.*

mcheck.py
webserver.py
theme_export.py
migrate.py

licenses.md
notes.md
./setup.py
pack.py